body {
    background-color: black;
    color: yellow;
}

img{
    border-radius: 40px;
    border-style: solid;
    border-width: 3px;
    border-color: yellow;
    width: 300px;
    height: 200px;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid yellow;
    margin: 1em 0;
    padding: 0;
}

div{
    display: flex;
    justify-content: space-around;
    
}
